<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masirhh.ucmsplatform.mapper.ClubMapper">
    <select id="listClub" resultType="com.masirhh.ucmsplatform.domain.Club">
        select
            ucb.*,
            uct.name type_name
        FROM
            up_club ucb,
            up_club_type uct
        where
            ucb.type=uct.id
        and
            ucb.enable_flag=1
    </select>

    <select id="getClubDto" resultType="com.masirhh.ucmsplatform.domain.dto.ClubDto">
        select
            uc.*,
            uct.name type_name,
            uu.name manager_name
        from
            up_club uc,
            up_club_type uct,
            up_user uu
        where
            uc.id=#{id}
        and
            uc.type=uct.id
        and
            uc.admin=uu.id
        and
            uc.enable_flag=1
    </select>

    <select id="getUserByClubId" resultType="com.masirhh.ucmsplatform.domain.User">
        select *
        from up_user uu,
             up_user_club uuc
        where uu.id in
        (select uuc.user_id from up_user_club where uuc.club_id = #{clubId})
    </select>
</mapper>